CLIENT_GATEWAY_PORT=3010

PAYMENTS_MS_PORT=3003
SUCCESS_URL=http://localhost:3003/payments/success
CANCEL_URL=http://localhost:3003/payments/cancel
##https://dashboard.stripe.com/test/apikey
STRIPE_SECRET=
# https://dashboard.stripe.com/test/webhooks/we_1Pt62IAI5zODe8QWcInHzA9D
# Este es el signing secret del webhook
STRIPE_ENDPOINT_SECRET=
AUTH_DATABASE_URL=
ORDERS_DATABASE_URL=